<h1>買い物履歴一覧</h1>
<%= form_with url: purchase_histories_path, method: :get, local: true do %>
  <%= month_field_tag :year_month, params[:year_month] %>
  <%= submit_tag "検索" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>購入日</th>
      <th>リスト名</th>
      <th>金額</th>
      <th>買った場所</th>
      <th>メモ</th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_histories.each do |history| %>
      <tr>
        <td><%= history.purchased_on %></td>
        <td><%= history.shopping_list.try(:name) %></td>
        <td><%= history.shopping_list.purchased_total_price %> 円</td>
        <td><%= history.place %></td>
        <td><%= history.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if params[:year_month].present? %>
  <h3><%= params[:year_month] %>の買い物合計：<%= @monthly_total_price %>円</h3>
<% end %>
