<!-- app/views/purchase_histories/index.html.erb -->

<body class="purchase-histories-index">

  <h1 class="purchase-histories-header">買い物履歴一覧</h1>

  <%= form_with url: purchase_histories_path, method: :get, local: true, html: { class: "purchase-histories-form" } do %>
    <%= month_field_tag :year_month, params[:year_month] %>
    <%= submit_tag "検索" %>
  <% end %>

  <% if params[:year_month].present? %>
    <h3><%= params[:year_month] %>の買い物合計：<%= @monthly_total_price %>円</h3>
  <% end %>
  
  <div class="history-container">
  <% @purchase_histories.each do |history| %>
    <div class="card">
      <h4>購入日：<%= history.purchased_on %></h4>
      <p><strong>リスト名：</strong>
        <% if history.shopping_list.present? %>
          <%= link_to history.shopping_list.name, after_shopping_shopping_list_path(history.shopping_list), class: "list-link" %>
        <% else %>
          不明
        <% end %>
      </p>
      <p><strong>金額：</strong><span class="price"><%= history.shopping_list&.purchased_total_price || 0 %> 円</span></p>
      <p><strong>場所：</strong><%= history.place.presence || "未入力" %></p>
      <p><strong>メモ：</strong><%= history.note.presence || "なし" %></p>
    </div>
  <% end %>
  </div>

  <!-- ページネーション -->
  <%= paginate @purchase_histories %>  
</body>
