<h2>ログイン</h2>

<p>メールアドレスまたはユーザー名とパスワードを入力してください。</p>

<%= render "devise/shared/error_messages", resource: resource %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :login, "ユーザー名またはメールアドレス" %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログイン状態を保持する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class="links">
  <%= link_to "新規登録", new_user_registration_path %> |
  <%= link_to "パスワードをお忘れですか？", new_user_password_path %>
</div>
