<h1>買い物リスト詳細</h1>

<div class="stage-nav">
  <%= link_to '買い物前', before_shopping_shopping_list_path(@shopping_list), class: "btn-status btn-before is-active" %>
  <%= link_to '買い物中', during_shopping_shopping_list_path(@shopping_list), class: "btn-status btn-during" %>
  <%= link_to '買い物後', after_shopping_shopping_list_path(@shopping_list), class: "btn-status btn-after" %>
</div>


<p><strong>リスト名：</strong> <%= @shopping_list.name %></p>
<p><strong>予算：</strong> <%= @shopping_list.budget %> 円</p>

<div class="form-actions">
    <%= link_to '編集', edit_shopping_list_path(@shopping_list), class: "btn btn-edit mb-1" %>
    <%= button_to 'この買い物リストを削除',
              shopping_list_path(@shopping_list),
              method: :delete,
              data: { confirm: '本当に削除しますか？' },
              form: { data: { turbo: false } },
              class: "btn btn-delete mb-1" %>
  </div> 

<div class="card mb-3 p-3">
  <h2>買い物アイテム一覧</h2> 
  <ul class="mb-3">
    <% @items.each do |item| %>
      <% next if item.id.nil? %>
      <li class="mb-2">
        <%= item.name %>（<%= item.quantity %>個）
        <%= link_to '編集', edit_shopping_list_item_path(@shopping_list, item) %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'アイテムを追加', new_shopping_list_item_path(@shopping_list), class: "btn btn-success" %>
</div>

<% if @item && @item.errors.any? %>
  <div style="color: red;">
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div style="margin-top: 32px;">
  <%= link_to '一覧に戻る', shopping_lists_path, class: "btn btn-backindex" %>
</div> 