<h1>買い物リスト詳細</h1>

<%= link_to '買い物前', before_shopping_shopping_list_path(@shopping_list) %> |
<%= link_to '買い物中', during_shopping_shopping_list_path(@shopping_list) %> |
<%= link_to '買い物後', after_shopping_shopping_list_path(@shopping_list) %>

<p><strong>リスト名：</strong> <%= @shopping_list.name %></p>
<p><strong>予算：</strong> <%= @shopping_list.budget %> 円</p>

<%= link_to '編集', edit_shopping_list_path(@shopping_list) %> 
<%= button_to 'この買い物リストを削除', @shopping_list, method: :delete, data: { confirm: '本当に削除しますか？' } %>

<h2>買い物アイテム一覧</h2>
<ul>
  <% @items.each do |item| %>
    <% next if item.id.nil? %>
    <li>
      <%= item.name %>（<%= item.quantity %>個）
      <%= link_to '編集', edit_shopping_list_item_path(@shopping_list, item) %>
    </li>
  <% end %>
</ul>

<%= link_to 'アイテムを追加', new_shopping_list_item_path(@shopping_list) %>

<% if @item && @item.errors.any? %>
  <div style="color: red;">
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div style="margin-top: 32px;">
  <%= link_to '一覧に戻る', shopping_lists_path %>
</div> 