<h2>割引計算機</h2>
<p>金額と割引率を入力して「計算」ボタンを押してください。</p>

<%= form_with url: discount_calc_shopping_list_path(@shopping_list), method: :post, local: true, data: { turbo: false } do %>
  <div>
    <%= label_tag :original_price, "元の金額（円）" %>
    <%= number_field_tag :original_price, params[:original_price], min: 0 %>
  </div>
  <div>
    <%= label_tag :discount_rate, "割引率（%）" %>
    <%= number_field_tag :discount_rate, params[:discount_rate], min: 0, max: 100 %>
  </div>
  <div>
    <%= submit_tag "計算" %>
  </div>
<% end %>

<% unless @discount_result.nil? %>
  <p>割引後の金額：<strong><%= @discount_result %> 円</strong></p>
<% end %>

<%= link_to '買い物中に戻る', during_shopping_shopping_list_path(@shopping_list) %>
