<h1>買い物リストを編集</h1>

<%= form_with(model: @shopping_list, local: true) do |form| %>
  <div>
    <%= form.label :name, "リスト名" %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :budget, "予算（円）" %><br>
    <%= form.number_field :budget %>
  </div>
  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '詳細に戻る', shopping_list_path(@shopping_list) %> | <%= link_to '一覧に戻る', shopping_lists_path %>
