<h1>買い物リストを編集</h1>

<%= form_with(model: @shopping_list, local: true) do |form| %>
  <div>
    <%= form.label :name, "リスト名" %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :budget, "予算（円）" %><br>
    <%= form.number_field :budget %>
  </div>
  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '一覧に戻る', shopping_lists_path %>
<br>
<%= button_to 'このリストを削除', shopping_list_path(@shopping_list), method: :delete, data: { confirm: '本当に削除しますか？' }, form: { data: { turbo: false } }, style: "color: red;" %>
