<h1>新しい買い物リストを作成</h1>

<%= form_with(model: @shopping_list, local: true) do |form| %>
  <div>
    <%= form.label :name, "リスト名" %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :budget, "予算（円）" %><br>
    <%= form.number_field :budget %>
  </div>
  <div>
    <%= form.label :shopped_on, "買い物日" %>
    <%= form.date_field :shopped_on %>
  </div>
  <div>
    <%= form.submit "作成" %>
  </div>
<% end %>

<%= link_to '一覧に戻る', shopping_lists_path %>