<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this shopping list", edit_shopping_list_path(@shopping_list) %> |
  <%= link_to "Back to shopping lists", shopping_lists_path %>

  <%= button_to "Destroy this shopping list", @shopping_list, method: :delete %>
</div>

<h1><%= @shopping_list.name %> の詳細</h1>
<p>予算: <%= @shopping_list.budget %> 円</p>

<%= link_to '編集', edit_shopping_list_path(@shopping_list) %> |
<%= link_to '一覧に戻る', shopping_lists_path %><%= render @shopping_list %>