<!DOCTYPE html>
<html>
  <head>
    <title>ToDoEasy2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav style="margin-bottom: 20px;">
      <%= link_to "トップへ戻る", root_path, class: "btn btn-outline-primary" %>
      <% if user_signed_in? %>
        <span style="margin: 0 10px;">こんにちは、<%= current_user.nickname.presence || current_user.email %> さん</span>
        <%= link_to "ログアウト", logout_path, class: "btn btn-outline-danger" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info" %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
